<footer class="bg-light text-muted mt-t">
  <div class="container">
    <div class="row pt-5 pd-3">
      <div class="col-sm-12 text-center">
        <p>Copyright (c)2021 tastylog. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>